{% load static %}
<html>
<head>
	<link type="text/css" rel="stylesheet" href="{% static 'studapp/style.css' %}"/>
	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Slabo+27px" rel="stylesheet">
	<title>{% block title %}Home{% endblock %}</title>
</head>
<body>
  <div class="sidebar"> 
	<a href="/studapp/"><h1>Study Portal</h1></a>
	{% block sidebar %}

	<div class="input">
	<form action="/studapp/view" id='course_with_code' method='get'>
		
	<select name="department" form="course_with_code">
		 <option value="0" selected="selected">Select a department</option>
		 {% for dept in departments %}
		 <option value= {{ dept.id }}>{{ dept.dept }}</option>
		 {% endfor %}		 
	</select>
<!-- We have to change so that the second list is dynamically updated based on first one -->
	<select name="course_code" form="course_with_code">
		 <option value="0" selected="selected">Select a course code</option>
		 {% for course in courses %}
		 <option value= {{ course.id }}>{{ course.code }}</option>
		 {% endfor %}
 	<input type="submit"></form></div>
	{% endblock %}
	<a href="/studapp/upload"><p class="upload">Upload a new file</p></a> 
  </div>
	
  <div class="content"> 
	{% block content %}
	<h2>All Courses</h2>
	{% for dept in departments %}
		<table>
			<tr>
				<th>{{ dept.dept }}</th>
			</tr>
			{% for course in dept.course_code_set.all %}
			<tr>
				<td><a class="course" href="/studapp/view/?department={{ dept.id }}&course_code={{ course.id }}">{{ course.code }}</a></td>
			</tr>
			{% endfor %}
			<br /></table>
	{% endfor %}
	{% endblock %}
  </div>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="{% static 'studapp/jscript.js' %}"></script>
</body>
</html>
