{% load static %}

* {

	box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
	
}
.sidebar, .content{
    /*background: #333; Removed*/
    background-color: #8B8483;
    border-radius: 2px;
    border:px solid #777;
	background-repeat: repeat-y;
	
}
.sidebar{
	width: 29%;
    height: 100%;
    /* width: 300px; Removed*/
    /* float:left  Removed*/
    left:0; /* Added */
    top:0; /* Added */
    position: fixed; /*Changed from absolute*/
	padding: 1%;
	/*background-color: rgb(0,0,112);*/
	background-image: url("concrete_wall.jpg");
	background-repeat: repeat-y;
}
.content{
	width:71%;
	height:200%;
	background-color: #8B8483;
    /* width: 630px; Removed*/
	margin-left: 29% ;/* Added */
	padding: 50px 5% 5% 5%;
	background-repeat: repeat-y;
}

a{
    /*color: #0060B6; Removed*/
	color: White;
	text-decoration: none;
}


.course:hover 
{
     color:#00A0C6;
	
     text-decoration:none; 
     cursor:pointer;  
}

h1 {
color: White;
font-family: 'Slabo 27px', serif;
font-size: 40px;
margin: 10px;
width: 100%;
}

table {
width: 30%;
background-color: rgb(0,50,112);
border-radius: 5px;
border: 1px solid rgb(0,50,112); 
position: relative;
margin-bottom: 20px;
}

td {
padding: 5px 5%;
font-family: Lato;
font-size: 18px;
}

th{
font-family: Calibri;
font-size: 20px;
background-color: White;
margin: 5px;
}

tr{
color: rgb(0,50,112);
}

select {
padding: 5px;
margin: 10px 0px;
font-size: 16px;
width: 100%;
}

.input{
padding-top: 20%;
}

input{
margin: 10px;
font-size: 16px;
padding: 5px;
}

h2,h3 {
color: rgb(0,0,0);
font-family: 'Slabo 27px', serif;
}

h2 {
font-size: 32px;
}

h3 {
font-size: 24px;
width: 300px;
}

.p {
color: Black;
font-family: Lato;
}

.upload {
background-color: White;
color: rgb(0,50,112);
font-size: 24px;
font-family: 'Slabo 27px', serif;
/* position: absolute;
bottom: 50px;*/
position: absolute;
top: 80%;
left: 24%;
width: 52%;
padding: 10px;
text-transform: uppercase;
font-weight: 800;
}

strong {
color: rgb(0,0,0);
font-family: 'Slabo 27px', serif;
font-size: 20px;
}


